/*--------------------
1. General
--------------------*/

body {
    margin: 0px;
    font-family: "Raleway", Sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #252525;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

::selection {
    text-shadow: none;
    background: #fed136;
}


/*@media (min-width: 768px) {
	section {
	    padding: 150px 0;
	}
}
*/

section {
    padding: 35px 0 60px;
}


/*--------------------
1.1 Reset bootstrap
--------------------*/

.row-0-gutter {
    margin-left: -13px;
    margin-right: -13px;
}

.col-0-gutter {
    padding-left: 0;
    padding-right: 0;
}


/*--------------------
4.3. Portfolio
--------------------*/

figure {
    position: relative;
    overflow: hidden;
    margin: 0 1px 1px 0;
    background: #726FB9;
    text-align: center;
    cursor: pointer;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ot-portfolio-item figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.ot-portfolio-item figure figcaption,
.ot-portfolio-item figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
    background: #000;
    margin-bottom: 1px;
}

figure.effect-bubba img {
    opacity: 0.8;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.effect-bubba h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*--------------------
6. Modal
--------------------*/

.modal-content {
    border-radius: 0;
}

.modal-header .close {
    font-size: 30px;
}

.modal-title {
    text-transform: uppercase;
    font-size: 23px;
}

.modal-body {
    padding: 0;
}

.modal-body p {
    margin: 30px 20px;
    color: #2D2D2D;
}

.modal-works {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    margin: 25px 20px;
}

.modal-works span {
    background-color: #FED136;
    margin-right: 15px;
    padding: 5px 10px;
}


/*--------------------
7. Components
--------------------*/

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    /* border: #252525; */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #808080;
    border-radius: 4px;
}

.btn-xl {
    color: #fff;
    background-color: #726FB9;
    border-color: #726FB9;
    font-family: "Robot", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}